#![enable(implicit_some)]
{
    "protocol::ability::AbilityPhases": (startup: 4, active: 4, recovery: 8, cooldown: 80),
    "protocol::ability::OnTickEffects": ([(tick: 0, effect: Shield(absorb: 60.0))]),
}
