#![enable(implicit_some)]
{
    "protocol::ability::AbilityPhases": (startup: 3, active: 4, recovery: 10, cooldown: 28),
    "protocol::ability::OnTickEffects": ([
        (tick: 0, effect: Teleport(distance: 6.0)),
        (tick: 1, effect: Melee()),
    ]),
    "protocol::ability::OnHitEffectDefs": ([
        Damage(amount: 18.0, target: Victim),
        ApplyForce(force: (0.0, 1.2, 4.0), frame: RelativePosition, target: Victim),
    ]),
}
