#![enable(implicit_some)]
{
    "protocol::ability::AbilityPhases": (startup: 2, active: 8, recovery: 4, cooldown: 32),
    "protocol::ability::WhileActiveEffects": ([
        SetVelocity(speed: 15.0, target: Caster),
    ]),
}
