#![enable(implicit_some)]
{
    "protocol::ability::AbilityPhases": (startup: 4, active: 6, recovery: 10, cooldown: 0),
    "protocol::ability::OnTickEffects": ([(tick: 0, effect: Melee())]),
    "protocol::ability::OnHitEffectDefs": ([
        Damage(amount: 10.0, target: Victim),
        ApplyForce(force: (0.0, 2.4, 7.65), frame: RelativePosition, target: Victim),
    ]),
}
