#![enable(implicit_some)]
{
    "protocol::ability::AbilityPhases": (startup: 5, active: 25, recovery: 6, cooldown: 60),
    "protocol::ability::OnTickEffects": ([(tick: 0, effect: Buff(stat: "speed", multiplier: 2.5, duration_ticks: 60, target: Caster))]),
    "protocol::ability::WhileActiveEffects": ([
        SetVelocity(speed: 30.0, target: Caster),
    ]),
}
