[submodule "git/bevy"]
	path = git/bevy
	url = https://github.com/bevyengine/bevy.git
[submodule "git/lightyear"]
	path = git/lightyear
	url = https://github.com/cBournhonesque/lightyear.git
[submodule "git/avian"]
	path = git/avian
	url = https://github.com/Jondolf/avian.git
[submodule "git/grid-tree-rs"]
	path = git/grid-tree-rs
	url = https://github.com/AdamWhitehurst/grid-tree-rs.git
[submodule "git/block-mesh-rs"]
	path = git/block-mesh-rs
	url = https://github.com/AdamWhitehurst/block-mesh-rs.git