#![enable(implicit_some)]
(
    name: "run",
    duration: 0.4,
    looping: true,
    bone_timelines: {
        "torso": (
            rotation: [(time: 0.0, value: 5.0, curve: Linear), (time: 0.2, value: 8.0, curve: Linear), (time: 0.4, value: 5.0, curve: Linear)],
            translation: [
                (time: 0.0, value: (0.0, 0.0),  curve: Linear),
                (time: 0.1, value: (0.0, 0.25), curve: Linear),
                (time: 0.2, value: (0.0, 0.0),  curve: Linear),
                (time: 0.3, value: (0.0, 0.25), curve: Linear),
                (time: 0.4, value: (0.0, 0.0),  curve: Linear),
            ],
            scale: [],
        ),
        "arm_l": (
            rotation: [(time: 0.0, value: -30.0, curve: Linear), (time: 0.2, value: 30.0, curve: Linear), (time: 0.4, value: -30.0, curve: Linear)],
            translation: [
                (time: 0.0, value: (0.5, 0.15),  curve: Linear),
                (time: 0.1, value: (-0.1, -0.15),   curve: Linear),
                (time: 0.2, value: (0.5, 0.15), curve: Linear),
                (time: 0.3, value: (-0.1, -0.15),   curve: Linear),
                (time: 0.4, value: (0.5, 0.15),  curve: Linear),
            ],
            scale: [],
        ),
        "arm_r": (
            rotation: [(time: 0.0, value: 30.0, curve: Linear), (time: 0.2, value: -30.0, curve: Linear), (time: 0.4, value: 30.0, curve: Linear)],
            translation: [
                (time: 0.0, value: (-0.5, -0.15),  curve: Linear),
                (time: 0.1, value: (0.1, 0.0),    curve: Linear),
                (time: 0.2, value: (-0.5, 0.15),   curve: Linear),
                (time: 0.3, value: (0.1, 0.0),    curve: Linear),
                (time: 0.4, value: (-0.5, -0.15),  curve: Linear),
            ],
            scale: [],
        ),
        "leg_l": (
            rotation: [(time: 0.0, value: 35.0, curve: Linear), (time: 0.2, value: -35.0, curve: Linear), (time: 0.4, value: 35.0, curve: Linear)],
            translation: [
                (time: 0.0,  value: (0.3, 0.0),   curve: Linear),
                (time: 0.05, value: (0.1, 0.25),  curve: Linear),
                (time: 0.1,  value: (-0.15, 0.5), curve: Linear),
                (time: 0.15, value: (-0.3, 0.25), curve: Linear),
                (time: 0.2,  value: (-0.3, 0.0),  curve: Linear),
                (time: 0.4,  value: (0.3, 0.0),   curve: Linear),
            ],
            scale: [],
        ),
        "leg_r": (
            rotation: [(time: 0.0, value: -35.0, curve: Linear), (time: 0.2, value: 35.0, curve: Linear), (time: 0.4, value: -35.0, curve: Linear)],
            translation: [
                (time: 0.0,  value: (-0.3, 0.0),  curve: Linear),
                (time: 0.2,  value: (0.3, 0.0),   curve: Linear),
                (time: 0.25, value: (0.1, 0.25),  curve: Linear),
                (time: 0.3,  value: (-0.15, 0.5), curve: Linear),
                (time: 0.35, value: (-0.3, 0.25), curve: Linear),
                (time: 0.4,  value: (-0.3, 0.0),  curve: Linear),
            ],
            scale: [],
        ),
    },
    events: [
        (time: 0.3, name: "footstep_right"),
    ],
)
