#![enable(implicit_some)]
(
    name: "walk",
    duration: 0.6,
    looping: true,
    bone_timelines: {
        "torso": (
            rotation: [(time: 0.0, value: 0.0, curve: Linear), (time: 0.3, value: 3.0, curve: Linear), (time: 0.6, value: 0.0, curve: Linear)],
            translation: [
                (time: 0.0,  value: (0.0, 0.0),  curve: Linear),
                (time: 0.15, value: (0.0, 0.15), curve: Linear),
                (time: 0.3,  value: (0.0, 0.0),  curve: Linear),
                (time: 0.45, value: (0.0, 0.15), curve: Linear),
                (time: 0.6,  value: (0.0, 0.0),  curve: Linear),
            ],
            scale: [],
        ),
        "arm_l": (
            rotation: [(time: 0.0, value: 15.0, curve: Linear), (time: 0.3, value: -15.0, curve: Linear), (time: 0.6, value: 15.0, curve: Linear)],
            translation: [
                (time: 0.0,  value: (0.3, -0.05),   curve: Linear),
                (time: 0.15, value: (0.0, 0.0),     curve: Linear),
                (time: 0.3,  value: (-0.3, -0.05),  curve: Linear),
                (time: 0.45, value: (0.0, 0.0),     curve: Linear),
                (time: 0.6,  value: (0.3, -0.05),   curve: Linear),
            ],
            scale: [],
        ),
        "arm_r": (
            rotation: [(time: 0.0, value: -15.0, curve: Linear), (time: 0.3, value: 15.0, curve: Linear), (time: 0.6, value: -15.0, curve: Linear)],
            translation: [
                (time: 0.0,  value: (-0.3, -0.05), curve: Linear),
                (time: 0.15, value: (0.0, 0.0),    curve: Linear),
                (time: 0.3,  value: (0.3, -0.05),  curve: Linear),
                (time: 0.45, value: (0.0, 0.0),    curve: Linear),
                (time: 0.6,  value: (-0.3, -0.05), curve: Linear),
            ],
            scale: [],
        ),
        "leg_l": (
            rotation: [(time: 0.0, value: -20.0, curve: Linear), (time: 0.3, value: 20.0, curve: Linear), (time: 0.6, value: -20.0, curve: Linear)],
            translation: [
                (time: 0.0,  value: (-0.2, 0.0),   curve: Linear),
                (time: 0.08, value: (-0.05, 0.15), curve: Linear),
                (time: 0.15, value: (0.1, 0.3),    curve: Linear),
                (time: 0.22, value: (0.2, 0.15),   curve: Linear),
                (time: 0.3,  value: (0.2, 0.0),    curve: Linear),
                (time: 0.6,  value: (-0.2, 0.0),   curve: Linear),
            ],
            scale: [],
        ),
        "leg_r": (
            rotation: [(time: 0.0, value: 20.0, curve: Linear), (time: 0.3, value: -20.0, curve: Linear), (time: 0.6, value: 20.0, curve: Linear)],
            translation: [
                (time: 0.0,  value: (0.2, 0.0),   curve: Linear),
                (time: 0.3,  value: (-0.2, 0.0),  curve: Linear),
                (time: 0.38, value: (-0.05, 0.15), curve: Linear),
                (time: 0.45, value: (0.1, 0.3),   curve: Linear),
                (time: 0.52, value: (0.2, 0.15),  curve: Linear),
                (time: 0.6,  value: (0.2, 0.0),   curve: Linear),
            ],
            scale: [],
        ),
    },
    events: [
        (time: 0.15, name: "footstep_left"),
        (time: 0.45, name: "footstep_right"),
    ],
)
